<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./styles.css">
    <title>Document</title>
</head>

<body>
<%- include('partials/error') %>

<header> 
    <p>You are signed in as <%= firstName %> <%= lastName %></p>

    <% if (roleName === 'spectator') { %>
        <a href="/join">Join The Club</a>
    <% } %>

    <% if (roleName === 'user') { %>
        <a href="/newMessage">Create a new message</a>
    <% } %>
</header>

<div id="messages">
    <p>Messages</p>

    <% if (messages && messages.length > 0) { %>

        <% messages.forEach(({ content, creationdate, firstname, lastname, rolename }) => { %>

            <article class="message">

                <header>
                    <p id="message">

                        <% if (roleName === 'Admin') { %>
                            <!-- Admin icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 256 256">
                                <g transform="scale(2.81)">
                                    <path d="M 64.71 90 H 25.291 c -4.693 0 -8.584 -3.67 -8.859 -8.355 l -3.928 -67.088 
                                        c -0.048 -0.825 0.246 -1.633 0.812 -2.234 c 0.567 -0.601 1.356 -0.941 2.183 -0.941 
                                        h 59.002 c 0.826 0 1.615 0.341 2.183 0.941 c 0.566 0.601 0.86 1.409 0.813 2.234 
                                        l -3.928 67.089 C 73.294 86.33 69.403 90 64.71 90 z" />
                                </g>
                            </svg>
                        <% } %>

                        <strong>Author: <%= firstname %> <%= lastname %></strong>
                    </p>

                    <p class="date">
                        <time datetime="<%= creationDate %>">Created at</time>
                    </p>
                </header>

                <p id="content"><%= content %></p>

            </article>

        <% }) %>

    <% } else { %>
        <p>No messages</p>
    <% } %>

    <footer>
        <a href="/logOut">Log Out</a>
    </footer>

</div>

</body>
</html>
